.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: green;
    height: 56px;
}

.spacer {
    flex: 1;
}

.navigation_tool {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.nav_logo {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 5vmin;
    font-family: "Brush Script MT";
    text-shadow: 3px 3px 3px black;
}

.nav_tool_items, a {
    color: white;
    text-decoration: none;
}

.nav_tool_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_tool_items li {
    padding: 0 0.5rem;
}

@media (max-width: 768px) {
    .nav_tool_items {
        display: none;
    }
}

@media (min-width:769px) {
    .navigation_toggle_button {
        display: none;
    }
    
    .nav_logo {
        margin-left: 0;
        font-size: 3vmax;
    }
}